body{
	text-align: center;
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 150px;
	font-family: "Hobo Std Medium", Arial, sans;
	background-image: url("basic_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}
#name{
	text-align: center;
}
#button{
	margin: 50px;
}
h2{
	margin: 50px;
	color: #1E4E5E;
}