.button {
	border-radius: 10px;
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 30px 64px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	font-family: "Hobo Std Medium", Arial, sans
}

#start{
	text-align: center;
}


body{
	background-image: url("background.png");
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	color: #1E4E5E;
	text-align: center;
	font-size: 100px;
	font-family: "Hobo Std Medium", Arial, sans
		
}