#octo {
	text-align: center;
}

#prof {
	text-align: center;
}
.button {
	border-radius: 10px;
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 30px 64px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
}

#start{
	text-align: center;
}

p {
	font-size: 20px;
}
body{
		font-family: "Hobo Std Medium", Arial, sans;
		background-image: url("basic_bg.png");
	background-repeat: no-repeat;
	background-size: cover;

}